---
import Modified from '@/components/Modified.astro';
import { Button } from '@/components/ui/button';
import Layout from '@/layouts/Layout.astro';
import { db, Document, NOW, sql } from 'astro:db';
import { ChevronRightIcon, DeleteIcon } from 'lucide-react';

export const prerender = false;

const results = await db
  .select({
    now: NOW,
    timestamp: sql`CURRENT_TIMESTAMP`,
    newDate: sql`${new Date().toISOString()}`,
  })
  .from(Document);
console.log('RESULTS:', results);

const documents = await db.select().from(Document);
console.log(documents);
---

<Layout title="Welcome to Astro.">
  <header class="flex h-16 w-full shrink-0 items-center px-4 md:px-6">
    <a class="mr-6 flex items-center gap-2" href="/">
      <DeleteIcon className="h-6 w-6" />
      <span class="font-semibold">Markdown Editor</span>
    </a>
  </header>
  <main class="flex-1">
    <section class="w-full py-8 md:py-12 lg:py-16">
      <div class="container px-4 md:px-6">
        <div class="flex flex-col gap-6">
          <div class="flex items-center justify-between">
            <h1
              class="text-2xl font-bold tracking-tighter sm:text-3xl md:text-4xl">
              Your Markdown Files
            </h1>
            <form method="post" action="/documents">
              <Button>Create New</Button>
            </form>
          </div>
          <ul
            class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            {
              documents.map((document) => (
                <li class="group cursor-pointer rounded-md bg-neutral-50 p-4 shadow-md transition-colors hover:bg-neutral-100 dark:bg-neutral-950 dark:hover:bg-neutral-900">
                  <a
                    class="flex items-center justify-between"
                    href={`documents/${document.id}`}>
                    <div class="space-y-1">
                      <h3 class="text-sm font-medium">{document.title}</h3>
                      <p class="text-sm text-neutral-500 dark:text-neutral-400">
                        Last updated <Modified date={document.updatedAt} />
                      </p>
                    </div>
                    <ChevronRightIcon className="h-5 w-5 text-neutral-400 group-hover:text-neutral-500 dark:text-neutral-500 dark:group-hover:text-neutral-400" />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
  </main>
  <footer
    class="flex w-full shrink-0 flex-col items-center gap-2 border-t px-4 py-4 sm:flex-row md:px-6">
    <p class="text-xs text-neutral-500 dark:text-neutral-400">
      © 2024 Markdown Editor. All rights reserved.
    </p>
    <nav class="flex gap-4 sm:ml-auto sm:gap-6">
      <a class="text-xs underline-offset-4 hover:underline" href="#">
        Terms of Service
      </a>
      <a class="text-xs underline-offset-4 hover:underline" href="#">
        Privacy
      </a>
    </nav>
  </footer>
</Layout>
